# this is the requirements.txt file

nltk
numpy

matplotlib

flask

python-dotenv # see: https://github.com/theskumar/python-dotenv

lyricsgenius

#spotipy # see: https://github.com/plamere/spotipy


# Flask
# gunicorn

# pytest